body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fdd7d798;
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
    margin: 0;
    color: #470505;
  }
  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    

}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #8d5151;
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

.navbar-nav .navbar-text p {
    margin: 0;
    padding-left: 10px;
}

.navbar-nav .navbar-text i {
    font-size: 1.5rem;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 1%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" /%3E%3C/svg%3E');
}

.encabezado {
    background-color: #4B8BB7;
    color: aliceblue;
    height: auto;
}

body,
html {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.navbar {
    background-color: #93B7CB !important;
}

.navbar-nav .nav-link {
    color: white !important;
}

.footer {
    background-color: #004A72;
    color: aliceblue;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer a {
    color: aliceblue;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.product-card {
    margin: 20px;
    text-align: center;
}

.product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.btn-blue {
    background-color: #da4a4a;
    color: white;
}

.btn-blue:hover {
    background-color: #964f4f;
}

.total-section {
    background-color:  #fac2c298;
    padding: 15px;
    border-radius: 5px;
}

.product-column{
    font-size: 8px; /* Cambia este valor según lo que necesites */
    word-wrap: break-word; /* Ajusta el texto si es largo */
    max-width: 150px;
}

.row {
    display: flex;
    justify-content: space-between; /* Alinear elementos en extremos opuestos */
    margin-bottom: 10px;
}
.price {
    
    text-align: right;
}
.price-row {
    display: flex;
    justify-content: space-between; /* Asegura que las palabras estén a la izquierda y los precios a la derecha */
    align-items: center;           /* Centra verticalmente ambos elementos */
    margin-bottom: 10px;
}
.signopesos {
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
}


@media (min-width: 992px) {
    .total-section {
        margin-right: 0; /* Asegura que esté alineado a la derecha en pantallas grandes */
    }
}
